<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gosnowapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gosnowapp.UI.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.gosnowapp.UI.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.gosnowapp.UI.RideNowActivity"
            android:label="@string/title_activity_ride_now"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.gosnowapp.UI.StartUpActivity"
            android:label="@string/title_activity_start_up"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gosnowapp.UI.OptionsMenuBaseActivity"
            android:label="@string/title_activity_options_menu_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gosnowapp.UI.ConnectActivity"
            android:label="@string/title_activity_connect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gosnowapp.UI.EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gosnowapp.UI.TNCActivity"
            android:label="@string/title_activity_tnc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gosnowapp.UI.SignupStepsActivity"
            android:label="@string/title_activity_signup_steps"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>